@font-face {
    font-family: 'SR';
    src: url('../Fonts/Segoe UI/SegoeUI.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/Segoe UI/SegoeUI.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/Segoe UI/SegoeUI.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/Segoe UI/SegoeUI.woff') format('woff'), /* Pretty Modern Browsers */
    url('../Fonts/Segoe UI/SegoeUI.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/Segoe UI/SegoeUI.svg#svgFontName') format('svg'); /* Legacy iOS */
} 
@import 'Directions/_rtl-direction.scss';
@import 'main.scss';
