@import "Abstract/_variables.scss";
@import "Abstract/_mixins.scss";
@import "Components/_genericComponents.scss";

@import "Layout/_header.scss";
@import "Pages/_homepage.scss";

* {
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

body {
  background-color: #f5f7f8;
}
