/*Should add generic links , button styles & hover here */




/*Should add generic forms here (Labels, inputs [all types], textareas, buttons & validations ) styles */


/*Should add generic Messages here(success , empty) */


/*Should add generic error page */



/* Generic font aspect ratio */

/*body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}*/

/* Generic img aspect ratio */
/*.outer {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1009 / 983) * 100%;
    }

    > .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}*/